.detail-wrap {
	margin-top: 88px;
}

.detail-wrap .plus-sign {
	font-size: 50px;
	position: relative;
	color: #676767;
	display: flex;
	transition: all 1s;
	margin-right: 10px;
}

.detail-wrap .title-wrap {
	display: flex;
	flex-direction: row;
	margin-bottom: 40px;
	font-weight: bold;
	height: fit-content;
	color: #676767;
}

.title-wrap .title-text {
	flex-direction: column;
	height: fit-content;
}

.title-wrap .contact-title {
	font-size: 36px;
	font-weight: 700;
	transition: all 1s;
	margin: 0;
}

.title-wrap .detail {
	font-size: 24px;
	font-weight: 400;
	line-height: 26px;
	transition: all 1s;
	margin-top: 14px;
}

.contact a {
	color: #676767;
	text-decoration: underline;
	background-color: #67676700;
	word-break: break-all;
}

.building {
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 150px;
	z-index: -1;
	transition: all 1s;
}

.line-break {
	margin-bottom: 0.01em;
}

/* under 1920 */
@media (max-width: 1920px) {
	.detail-wrap .plus-sign {
		font-size: 40px;
	}

	.detail-wrap .title-wrap {
		margin-bottom: 35px;
	}

	.title-wrap .contact-title {
		font-size: 32px;
	}

	.title-wrap .detail {
		font-size: 23px;
		margin-top: 10px;
	}

	.building {
		top: 90px;
	}
}

/* tablet */
@media (min-width: 577px) and (max-width: 992px) {
	.detail-wrap {
		margin-top: 100px;
		width: 90%;
	}

	.detail-wrap .plus-sign {
		font-size: 40px;
	}

	.detail-wrap .title-wrap {
		margin-bottom: 40px;
	}

	.title-wrap .contact-title {
		font-size: 32px;
	}

	.title-wrap .detail {
		font-size: 20px;
		margin-top: 14px;
	}

	.building {
		background-position: 10% 0;
		top: 90px;
	}
}

/* mobile */
@media (max-width: 576px) {
	.contact .detail-wrap {
		margin-top: 45px;
		margin-left: 0px;
	}

	.detail-wrap .plus-sign {
		font-size: 25px;
		margin-right: 10px;
	}

	.title-wrap .contact-title {
		font-size: 22px;
	}

	.title-wrap .detail {
		font-size: 14px;
		width: 300px;
		line-height: 17px;
		margin-top: 8px;
	}

	.contact a {
		word-wrap: break-word;
	}

	.building {
		background-position: 12% 0;
		top: 64px;
	}
}
