.modal-container {
	height: 80vh;
	width: 86vw;
	background-color: #eae9e9;
	position: absolute;
	display: flex;
	top: 10%;
	right: 7%;
	z-index: 99;
	flex-direction: row;
}

.modal-text {
	display: flex;
	width: 50%;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	position: absolute;
	top: 50%;
	left: 25%;
	transform: translate(-50%, -50%);
	transition: all 1s;
	margin-left: 6vw;
}

.modal-title {
	font-size: 65px;
	margin-top: -2vw;
	margin-bottom: 0.5vw;
	width: 80%;
	transition: all 1s;
	font-weight: 800;
}

.modal-subhead {
	font-size: 35px;
	margin-bottom: 1vw;
	font-weight: 900;
	transition: all 1s;
	width: 30vw;
}

.modal-detail {
	width: 80%;
	font-size: 25px;
	font-weight: 300;
	margin-top: 2vw;
	transition: all 1s;
	line-height: 35px;
}

.modal-slider {
	position: absolute;
	top: 28%;
	left: 43vw;
}

/* X 아이콘 */
.close {
	position: absolute;
	top: 2vw;
	right: 2vw;
	width: 1.5vw;
	height: 1.5vw;
	transform: scale(2);
	cursor: url(/public/CursorLogo.png) 10 10, auto;
}

.close:before,
.close:after {
	position: absolute;
	top: 0.2vw;
	left: 0.7vw;
	content: " ";
	height: 1vw;
	width: 1px;
	background-color: #848484;
	transition: background-color 0.3s;
}

.close:before {
	transform: rotate(45deg);
}
.close:after {
	transform: rotate(-45deg);
}
/* close hover */
.close:hover:before,
.close:hover:after {
	top: 0.1vw;
	height: 1.2vw;
	width: 1px;
	background-color: #000000;
	border-radius: 30px;
	transition: 0.3s ease-in-out;
}
.closeButton {
	display: none;
}

/* under 1920px */
@media (max-width: 1920px) {
	.modal-title {
		font-size: 63px;
	}

	.modal-subhead {
		font-size: 30px;
	}

	.modal-detail {
		font-size: 23px;
		margin-top: 1.5vw;
		line-height: 32px;
	}
}

/* tablet */
@media (min-width: 577px) and (max-width: 992px) {
	.modal-text {
		width: 90%;
		top: 20%;
		transform: translate(-25%, -40%);
		transition: all 1s;
	}

	.modal-title {
		font-size: 40px;
	}

	.modal-subhead {
		font-size: 25px;
		margin-bottom: 20px;
		width: 100%;
	}

	.modal-detail {
		width: 90%;
		font-size: 20px;
		margin-top: 20px;
		line-height: 26px;
	}

	.modal-slider {
		top: 45vh;
		left: 0;
	}

	.closeButton {
		display: block;
		color: rgb(84, 84, 84);
		background-color: #bababa46;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 2vw;
		width: 7vw;
		height: 7vw;
		max-width: 70px;
		max-height: 70px;
		border-radius: 50%;
		z-index: 103;
	}
	.close {
		display: none;
	}

	.close:before,
	.close:after {
		display: none;
	}
}

/* mobile */
@media (max-width: 576px) {
	.modal-container {
		width: 100%;
		height: 100%;
		top: 0;
		right: 0;
		flex-direction: column;
		z-index: 102;
		overflow: hidden;
		overscroll-behavior: none;
	}

	.modal-text {
		align-items: start;
		top: 5vh;
		margin-left: 8vw;
		width: 90%;
		top: 20%;
		transform: translate(-25%, -40%);
	}

	.modal-title {
		font-size: 29px;
		margin-top: 0;
		margin-bottom: 1vw;
	}

	.modal-subhead {
		font-size: 18px;
		margin-bottom: 3vw;
		width: 70vw;
	}

	.modal-detail {
		font-size: 14px;
		margin-top: 3vw;
		line-height: 20px;
	}

	.modal-slider {
		top: 400px;
		left: 0;
	}

	.closeButton {
		display: block;
		color: rgb(84, 84, 84);
		background-color: #bababa46;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 5px;
		width: 12vw;
		height: 12vw;
		max-width: 70px;
		max-height: 70px;
		border-radius: 50%;
		z-index: 103;
	}
	.close {
		display: none;
	}

	.close:before,
	.close:after {
		display: none;
	}
}
