.title {
	white-space: normal;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	width: 30vw;
	color: #fcc800;
	font-size: 100px;
	font-weight: 700;
	-webkit-animation: focus-in-expand 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
		both;
	animation: focus-in-expand 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	transition: all 1s;
}

@-webkit-keyframes focus-in-expand {
	0% {
		letter-spacing: -0.5em;
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}
	100% {
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}
@keyframes focus-in-expand {
	0% {
		letter-spacing: -0.5em;
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}
	100% {
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}

.body {
	width: 60%;
	margin: 216px 0 216px 200px;
	transition: all 1s;
}

.sections {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.sections > div {
	font-size: 18px;
	position: relative;
}

.sections > h3 {
	position: relative;
	top: 60px;
}

/* under 1920px */
@media (max-width: 1920px) {
	.title {
		font-size: 80px;
	}

	.body {
		width: 60%;
		margin: 200px 0 200px 200px;
	}
}

/* tablet */
@media (min-width: 577px) and (max-width: 992px) {
	.body {
		width: 85%;
		margin: 160px 0 120px 100px;
	}

	.title {
		font-size: 65px;
	}
}

/* mobile */
@media (max-width: 576px) {
	.body {
		width: 90%;
		margin: 120px 0 120px 30px;
	}

	.title {
		font-size: 44px;
	}

	.title-container {
		width: 100%;
	}
}
